name: Deploy docs

on:
  push:
    branches: [main]
    paths:
      - '**.go'
      - 'docs/**'
      - '.github/workflows/**'
  pull_request:
    paths:
      - '**.go'
      - 'docs/**'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  docs:
    uses: ./.github/workflows/build-docs.yml
    with:
      docs_dir: docs
      from_source: true
